<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aomsir.jewixapi.mapper.ArticleMapper">

<!--    <resultMap id="ArticleResultMap" type="Article">-->
<!--        <id property="id" column="id" />-->
<!--        <result property="uuid" column="uuid" />-->
<!--        <result property="title" column="title" />-->
<!--        <result property="cover" column="cover" />-->
<!--        <result property="content" column="content" jdbcType="LONGVARCHAR"/>-->
<!--        <result property="type" column="type" />-->
<!--        <result property="originUrl" column="origin_url" />-->
<!--        <result property="views" column="views" />-->
<!--        <result property="isTop" column="is_top" />-->
<!--        <result property="isDelete" column="is_delete" />-->
<!--        <result property="status" column="status" />-->
<!--        <result property="createTime" column="create_time" />-->
<!--        <result property="updateTime" column="update_time" />-->
<!--    </resultMap>-->

    <select id="queryArticleCountByTagName" resultType="Long">
        SELECT COUNT(a.id)
        FROM tb_article AS a
        LEFT JOIN tb_article_tag at on a.id = at.article_id
        LEFT JOIN tb_tag t on at.tag_id = t.id
        WHERE a.status = 0
        AND a.is_delete = 0
        AND t.tag_name = #{tagName}
    </select>

    <select id="queryArticleCountByCategoryName" resultType="Long">
        SELECT COUNT(a.id)
        FROM tb_article AS a
        LEFT JOIN tb_article_category ac on a.id = ac.article_id
        LEFT JOIN tb_category c on ac.category_id = c.id
        WHERE a.status = 0
        AND a.is_delete = 0
        AND c.category_name = #{categoryName}
    </select>

    <select id="queryArticleBackendCount" resultType="Integer">
        SELECT COUNT(id)
        FROM tb_article
        <where>
            <if test="param.title != null">
                title LIKE CONCAT('%',#{param.title} ,'%')
                OR content LIKE CONCAT('%',#{param.title} ,'%')
            </if>
            <if test="param.type != null">
                AND type = #{param.type}
            </if>
            <if test="param.isTop">
                AND is_top = #{param.isTop}
            </if>
            <if test="param.status != null">
                AND status = #{param.status}
            </if>
        </where>
    </select>


    <select id="queryArticleBackendList" resultType="Article">
        SELECT id, uuid, title, cover, SUBSTRING(content,1,50) AS content,
        type, origin_url, views, is_top, is_delete, status, create_time, update_time
        FROM tb_article
        <where>
            <if test="param.title != null">
                title LIKE CONCAT('%',#{param.title} ,'%')
                OR content LIKE CONCAT('%',#{param.title} ,'%')
            </if>
            <if test="param.type != null">
                AND type = #{param.type}
            </if>
            <if test="param.isTop">
                AND is_top = #{param.isTop}
            </if>
            <if test="param.status != null">
                AND status = #{param.status}
            </if>
        </where>
        ORDER BY is_top,update_time DESC
        LIMIT #{param.start},#{param.length}
    </select>


    <!--TODO: 联合查询标签和分类表-->
    <select id="queryArticleFrontCount" resultType="Integer">
        SELECT COUNT(id)
        FROM tb_article
        <where>
            <if test="param.title != null">
                title LIKE CONCAT('%',#{param.title} ,'%')
                OR content LIKE CONCAT('%',#{param.title} ,'%')
            </if>
        </where>
    </select>


    <select id="queryArticleFrontList" resultType="Article">
        SELECT id, uuid, title, cover, SUBSTRING(content,1,50) AS content,
               type, origin_url, views, is_top, is_delete, status, create_time, update_time
        FROM tb_article
        <where>
            <if test="param.title != null">
                title LIKE CONCAT('%',#{param.title} ,'%')
                OR content LIKE CONCAT('%',#{param.title} ,'%')
            </if>
            AND status = 0
        </where>
        ORDER BY is_top,update_time DESC
        LIMIT #{param.start},#{param.length}
    </select>
</mapper>