<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aomsir.jewixapi.mapper.PhotoMapper">

    <insert id="insertPhoto">
        INSERT INTO tb_photo(type, location, fileName, create_time)
        VALUES (#{param.type}, #{param.location}, #{param.fileName}, #{param.createTime})
    </insert>
</mapper>