<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aomsir.jewixapi.mapper.PhotoMapper">

    <insert id="insertPhoto">
        INSERT INTO tb_photo(type, location, file_name, create_time)
        VALUES (#{param.type}, #{param.location}, #{param.fileName}, #{param.createTime})
    </insert>

    <delete id="deletePhoto">
        DELETE FROM
        tb_photo
        WHERE type = #{param.type}
        AND location = #{param.location}
        AND file_name = #{param.fileName}
    </delete>

    <select id="queryPhotoAllCount" resultType="Integer">
        SELECT COUNT(id)
        FROM tb_photo
    </select>

    <select id="selectPhotoListByPage" resultType="Photo">
        SELECT id, type, location, file_name, create_time
        FROM tb_photo
        <where>
            <if test="param.type != null">
                type = #{param.type}
            </if>
        </where>
        ORDER BY create_time DESC
        LIMIT #{param.start},#{param.length}

    </select>

</mapper>