<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aomsir.jewixapi.mapper.UserMapper">

    <select id="queryUserByEmail" resultType="com.aomsir.jewixapi.pojo.entity.User">
        SELECT *
        FROM tb_user
        WHERE email = #{email}
    </select>
</mapper>