<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aomsir.jewixapi.mapper.CategoryMapper">
    <insert id="insertCategory">
        INSERT tb_category(category_name, parent_id, create_time, update_time)
        VALUE (#{category.categoryName}, #{category.parentId}, #{category.createTime}, #{category.updateTime})
    </insert>


    <select id="queryCategoryCountByParentId" resultType="Integer">
        SELECT COUNT(id)
        FROM tb_category
        <where>
            <if test="parentId != null">
                parent_id = #{parentId}
            </if>
            <if test="parentId == null">
                AND parent_id = 0
            </if>
        </where>
    </select>

    <select id="queryCategoryListPageByParentId" resultType="Category">
        SELECT id,category_name,parent_id,create_time,update_time
        FROM tb_category
        <where>
            <if test="param.parentId != null">
                parent_id = #{param.parentId}
            </if>
            <if test="param.parentId == null">
                AND parent_id = 0
            </if>
        </where>
        LIMIT #{param.start},#{param.length}
    </select>

    <select id="queryCategoryByParentId" resultType="Category">
        SELECT id,category_name,parent_id,create_time,update_time
        FROM tb_category
        WHERE id = #{parentId}
    </select>

    <select id="queryCategoryByName" resultType="Category">
        SELECT id,category_name,parent_id,create_time,update_time
        FROM tb_category
        WHERE category_name = #{categoryName}
    </select>

    <select id="queryArticleListPageByCategoryName"
            resultType="com.aomsir.jewixapi.pojo.dto.ArticlePreviewDTO">
        SELECT a.id AS a_id,
               a.title AS title,
               a.cover AS cover,
               a.description AS content,
               a.views AS views,
               a.is_top AS isTop,
               a.create_time AS createTime,
               a.update_time AS updateTime
        FROM tb_category AS c
        LEFT JOIN tb_article_category AS ac ON ac.category_id = c.id
        LEFT JOIN tb_article AS a ON a.id = ac.article_id
        WHERE a.status = 0
        AND a.is_delete = 0
        AND c.category_name = #{param.categoryName}
        AND c.parent_id = #{param.parentCategoryId}
        ORDER BY a.create_time DESC
        LIMIT #{param.start},#{param.length}
    </select>

    <select id="queryIdsExists" resultType="Boolean" parameterType="List">
        SELECT COUNT(id) > 0
        FROM tb_category
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>




<!--    <resultMap id="CategoryListMap" type="com.aomsir.jewixapi.pojo.dto.CategoryListDTO">-->
<!--        <id property="id" column="id" />-->
<!--        <result property="categoryName" column="category_name" />-->
<!--        <result-->
<!--    </resultMap>-->

    <!--TODO:待完成-->
    <select id="queryCategoryList" resultType="com.aomsir.jewixapi.pojo.dto.CategoryListDTO">
#         SELECT id, category_name, parent_id
#         FROM tb_category
#         WHERE parent_id = 0
#         AND id IN (
#             SELECT parent_id
#             FROM tb_category
#             WHERE parent_id != 0
#         )

    </select>

    <select id="queryArticleCommentCountsById" resultType="Integer">
        SELECT COUNT(id)
        FROM tb_comment
        WHERE target_id = #{articleId}
        AND type = 1
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <select id="queryCategoryListByParentId" resultType="Category">
        SELECT id,category_name,parent_id,create_time,update_time
        FROM tb_category
        WHERE parent_id = #{parentId}
    </select>

    <select id="queryCategoryByNameAndParentId" resultType="Category">
        SELECT id,category_name,parent_id,create_time,update_time
        FROM tb_category
        WHERE category_name = #{categoryName}
        AND parent_id = #{parentId}
    </select>

    <select id="queryCategoryId" resultType="Category">
        SELECT id,category_name,parent_id
        FROM tb_category
        WHERE id = #{id}
    </select>

    <update id="updateCategory">
        UPDATE tb_category
        SET category_name = #{param.categoryName}
        WHERE id = #{param.id}
        AND parent_id = #{param.parentId}
    </update>

    <select id="queryCategoryOfArticleCounts" resultType="Integer">
        SELECT COUNT(id)
        FROM tb_article_category
        WHERE category_id = #{id}
    </select>

    <select id="queryArticleListPageByCategoryId" resultType="com.aomsir.jewixapi.pojo.dto.ArticlePreviewDTO">
        SELECT a.id AS id,
               a.uuid AS uuid,
               a.title AS title,
               a.cover AS cover,
               a.description AS description,
               a.views AS views,
               a.is_top AS isTop,
               a.status AS status,
               a.create_time AS createTime,
               a.update_time AS updateTime
        FROM tb_article AS a
        LEFT JOIN tb_article_category AS ac ON ac.article_id = a.id
        WHERE a.status = 0
        AND a.is_delete = 0
        AND ac.category_id = #{param.categoryId}
        ORDER BY a.create_time DESC
        LIMIT #{param.start},#{param.length}
    </select>

    <delete id="deleteCategories">
        DELETE FROM
        tb_category
        WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryCategoryCount" resultType="Integer">
        SELECT COUNT(id)
        FROM tb_category
    </select>
</mapper>