<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aomsir.jewixapi.mapper.LogMapper">

    <insert id="insertLoginLog">
        INSERT INTO tb_login_log(user_id, ip, location, operate_time)
        VALUES(#{loginLog.userId},
               #{loginLog.ip},
               #{loginLog.location},
               #{loginLog.operateTime})
    </insert>
</mapper>