<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aomsir.jewixapi.mapper.MenuMapper">
    <select id="queryMenuCountsOfParentByPage" resultType="Integer">
        SELECT COUNT(id)
        FROM tb_menu
        <where>
            <if test="param.name != null">
                name LIKE CONCAT('%', #{param.name}, '%')
            </if>
            <if test="param.parentId == null">
                AND parent_id = 0
            </if>
        </where>
    </select>

    <select id="queryMenuOfParentByPage" resultType="Menu">
        SELECT id, parent_id, name, icon_name, path, component_path, type, create_time, update_time
        FROM tb_menu
        <where>
            <if test="param.name != null">
                name LIKE CONCAT('%',#{param.name},'%')
            </if>
            <if test="param.parentId == null">
                AND parent_id = 0
            </if>
        </where>
        LIMIT #{param.start}, #{param.length}
    </select>

    <select id="queryMenusByParentId" resultType="Menu">
        SELECT id, parent_id, name, icon_name, path, component_path, type, create_time, update_time
        FROM tb_menu
        WHERE parent_id = #{id}
    </select>

    <delete id="deleteMenusByRoleId">
        DELETE FROM tb_role_menu
        WHERE role_id = #{roleId}
    </delete>

    <select id="queryMenuById" resultType="Menu">
        SELECT id, parent_id, name, icon_name, path, component_path, type, create_time, update_time
        FROM tb_menu
        WHERE id = #{menuId}
    </select>

    <insert id="insertResourcesForRole">
        INSERT INTO tb_role_menu(role_id, menu_id)
        VALUES
        <foreach collection="menuIds" index="index" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>

    <select id="queryParentMenuByUserId" resultType="com.aomsir.jewixapi.pojo.dto.MenuListPageDTO">
        SELECT tm.id AS id, tm.parent_id, tm.component_path, tm.create_time, tm.icon_name, tm.name, tm.path, tm.type, tm.update_time
        FROM tb_menu AS tm
        LEFT JOIN tb_role_menu AS trm ON tm.id = trm.menu_id
        LEFT JOIN tb_role AS tr ON tr.id = trm.role_id
        LEFT JOIN tb_user_role AS tur ON tur.role_id = tr.id
        LEFT JOIN tb_user AS tu ON tu.id = tur.user_id
        WHERE tu.id = #{userId}
        AND tm.parent_id = 0
    </select>

    <select id="queryMenusByParentIdAndUserId" resultType="Menu">
        SELECT tm.id, tm.parent_id, tm.component_path, tm.create_time, tm.icon_name, tm.name, tm.path, tm.type, tm.update_time
        FROM tb_menu AS tm
        LEFT JOIN tb_role_menu AS trm ON tm.id = trm.menu_id
        LEFT JOIN tb_role AS tr ON tr.id = trm.role_id
        LEFT JOIN tb_user_role AS tur ON tur.role_id = tr.id
        LEFT JOIN tb_user AS tu ON tu.id = tur.user_id
        WHERE tu.id = #{userId}
        AND tm.parent_id = #{parentId}
    </select>

    <select id="queryMenuByRoleId" resultType="Menu">
        SELECT tm.id, tm.parent_id, tm.component_path, tm.create_time, tm.icon_name, tm.name, tm.path, tm.type, tm.update_time
        FROM tb_menu AS tm
        LEFT JOIN tb_role_menu AS trm ON tm.id = trm.menu_id
        LEFT JOIN tb_role AS tr ON tr.id = trm.role_id
        WHERE tr.id = #{roleId}
        AND tm.parent_id = #{parentId}
    </select>

</mapper>