<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aomsir.jewixapi.mapper.PageMapper">

    <select id="queryPageList" resultType="com.aomsir.jewixapi.pojo.dto.PageListDTO">
        SELECT id,id, uuid, user_id, title, content, description, omit,views, type, create_time, update_time
        FROM tb_page
    </select>

    <select id="queryPageUserIds" resultType="Long">
        SELECT DISTINCT(user_id)
        FROM tb_page
    </select>

    <select id="queryPageByUuid" resultType="Page">
        SELECT id,id, uuid, user_id, title, content, description, views, type, create_time, update_time
        FROM tb_page
        WHERE uuid = #{uuid}
    </select>

    <select id="queryPageByTitle" resultType="Page">
        SELECT id,id, uuid, user_id, title, content, description, views, type, create_time, update_time
        FROM tb_page
        WHERE title = #{title}
    </select>

    <select id="queryPageByType" resultType="Page">
        SELECT id,id, uuid, user_id, title, content, description, views, type, create_time, update_time
        FROM tb_page
        WHERE type = #{type}
    </select>

    <insert id="insertPage">
        INSERT INTO tb_page(uuid, user_id, title, content, description, omit, views, type, create_time, update_time)
        VALUES (#{param.uuid},
                #{param.userId},
                #{param.title},
                #{param.content},
                #{param.description},
                #{param.omit},
                #{param.views},
                #{param.type},
                #{param.createTime},
                #{param.updateTime})
    </insert>

    <update id="updatePage">
        UPDATE tb_page
        <set>
            <if test="param.title != null">
                title = #{param.title},
            </if>
            <if test="param.content != null">
                content = #{param.content},
            </if>
            <if test="param.description != null">
                description = #{param.description},
            </if>
            <if test="param.omit != null">
                omit = #{param.omit},
            </if>
            <if test="param.updateTime != null">
                update_time = #{param.updateTime},
            </if>
        </set>
        WHERE id = #{param.id}
        AND uuid = #{param.uuid}
    </update>

    <delete id="deletePage">
        DELETE FROM tb_page
        WHERE uuid = #{uuid}
    </delete>

    <select id="queryPageByOmit" resultType="Page">
        SELECT id,id, uuid, user_id, title, content, description, omit, views, type, create_time, update_time
        FROM tb_page
        WHERE omit = #{omit}
    </select>

    <select id="queryPageUserIdByPageId" resultType="Long">
        SELECT user_id
        FROM tb_page
        WHERE id = #{targetId}
    </select>

    <select id="queryPageById" resultType="Page">
        SELECT id, uuid, user_id, title, content, description, omit, views, type, create_time, update_time
        FROM tb_page
        WHERE id = #{id}
    </select>
</mapper>