<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aomsir.jewixapi.mapper.ResourceMapper">

    <select id="queryAuthoritiesByUserId" resultType="Resource">
        SELECT tr.id, tr.name, tr.label, tr.parent_id, tr.method, tr.route, tr.create_time
        FROM tb_user AS tu
        LEFT JOIN tb_user_role tur ON tur.user_id = tu.id
        LEFT JOIN tb_role AS tr2 ON tr2.id = tur.role_id
        LEFT JOIN tb_role_resource AS trr ON trr.role_id = tr2.id
        LEFT JOIN tb_resource tr ON tr.id = trr.resource_id
        WHERE tu.id = #{userId}
    </select>

    <select id="queryResourceCountsOfParentByPage" resultType="Integer">
        SELECT COUNT(id)
        FROM tb_resource
        <where>
            <if test="param.name != null">
                name LIKE CONCAT('%',#{param.name},'%')
            </if>
            <if test="param.parentId == null">
                AND parent_id = 0
            </if>
        </where>
    </select>

    <select id="queryResourcesOfParentByPage" resultType="Resource">
        SELECT id, name, label, parent_id, method, route, create_time
        FROM tb_resource
        <where>
            <if test="param.name != null">
                name LIKE CONCAT('%',#{param.name},'%')
            </if>
            <if test="param.parentId == null">
                AND parent_id = 0
            </if>
        </where>
        LIMIT #{param.start}, #{param.length}
    </select>

    <select id="queryResourcesByParentId" resultType="Resource">
        SELECT id, name, label, parent_id, method, route, create_time
        FROM tb_resource
        WHERE parent_id = #{id}
    </select>

    <select id="queryResourceById" resultType="Resource">
        SELECT id, name, label, parent_id, method, route, create_time
        FROM tb_resource
        WHERE id = #{resourceId}
    </select>

    <delete id="deleteResourcesByRoleId">
        DELETE FROM tb_role_resource
        WHERE role_id = #{roleId}
    </delete>

    <insert id="insertResourceForRole">
        INSERT INTO tb_role_resource(role_id, resource_id)
        VALUES
        <foreach collection="resourceIds" index="index" item="resourceId" separator=",">
            (#{roleId}, #{resourceId})
        </foreach>
    </insert>
</mapper>