<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aomsir.jewixapi.mapper.WebConfigMapper">

    <insert id="insertWebConfig">
        INSERT INTO tb_web_config(config, create_time, update_time)
        VALUES (#{param.config},
                #{param.createTime},
                #{param.updateTime})
    </insert>

    <select id="queryWebConfigInfo" resultType="WebConfig">
        SELECT id, config, create_time, update_time
        FROM tb_web_config
    </select>

    <select id="queryWebConfigById" resultType="WebConfig">
        SELECT id, config, create_time, update_time
        FROM tb_web_config
        WHERE id = #{id}
    </select>

    <update id="updateWebConfig">
        UPDATE tb_web_config
        SET config = #{param.config},
            update_time = #{param.updateTime}
        WHERE id = #{param.id}
    </update>
</mapper>