.photo {
  :global {
    .ant-list-items {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
      margin-top: 20px;
      justify-content: center;

      @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
