.cover {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 100vw;
    bottom: 0;
    z-index: var(--z-index-max);
    background-color: myRgb(--color-foreground);
    transition: right 0.2s ease-in-out;
    overflow: scroll;
    @include box-shadow(0, 5px);

    &:global(.expanded) {
        right: 30vw;
    }

    :global {
        color: myRgb(--color-title);
        $padding-left: 20px;
        $padding-top: 10px;
        .title {
            font-size: 14px;
            color: myRgb(--color-text);
            border-left: 5px solid myRgb(--color-background-accent);
            padding-left: 5px;
            margin: 5px;
            margin-left: 0;
        }
        .links {
            a {
                display: block;
                padding: $padding-top $padding-left;

                &:hover {
                    background-color: rgb(var(--color-background-hover));
                }
            }
        }
        .menu {
            // 多级菜单
            ul {
                display: block;
                li {
                    .label {
                        padding: $padding-top $padding-left;
                        font-size: 16px;

                        .total {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    // 二级菜单
                    ul {
                        position: static;
                        translate: 0;
                        box-shadow: none;

                        li {
                            .label {
                                padding-left: calc($padding-left + var(--depth) * $padding-left);
                            }
                        }
                    }
                }
            }
        }
    }
}
